:root{
    --cinza-escuro:#808080;
    --cinza-claro:#a9a9a9;
    --cinza-azulado:#708090;
    --preto:#000000;
    --aliceblue: #f0f8ff;
}

* {
    margin: 0;
    padding: 0;
}

.container-principal {
    padding: 1rem;
}

.cabecalho {
    background-color: var(--cinza-escuro);
    border: 1px solid var(--preto);
    border-radius: 5px;
    text-align: center;
    color: var(--aliceblue);
    padding: 1rem;
}

.conteudo-principal {
    background-color: var(--cinza-claro);
    border: 1px solid var(--preto);
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% - 2rem);
    gap: 1rem;
    display: flex;
    margin: 1rem 0 1rem 0;
}

.navegacao,
.anuncio {
    text-align: center;
    background-color: var(--cinza-escuro);
    padding: 1rem;
    border: 1px solid var(--preto);
    border-radius: 5px;
    width: 15%;
    justify-content: center;
    color: var(--aliceblue);
}

.sessao-semantica {
    width: 70%;
    background-color: var(--cinza-escuro);
    padding: 1rem;
    border: 1px solid var(--preto);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-div {
    background-color: var(--cinza-azulado);
    padding: 1rem;
    border: 1px solid var(--preto);
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: calc(100%-2rem);
    margin: 1rem;
}

.imagem {
    width: calc(100% - 0,125rem);
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--preto);
}

.texto-vert {
    writing-mode: vertical-rl;
}

.rodape {
    background-color: var(--cinza-claro);
    padding: 1rem;
    border: 1px solid var(--preto);
    border-radius: 5px;
    text-align: center;
    color: var(--aliceblue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}